<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt lại mật khẩu thành công</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px;">
<div style="background: linear-gradient(to right, #4CAF50, #45a049); padding: 20px; text-align: center;">
    <h1 style="color: white; margin: 0;">Đặt lại mật khẩu thành công</h1>
</div>
<div style="background-color: #f9f9f9; padding: 20px; border-radius: 0 0 5px 5px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
    <b><i>Xin chào <b th:text="${username}"></b>,</i></b>
    <p>Cảm ơn bạn đã tin tưởng và sử dụng Watches Store Website. Chúng tôi gửi mail này để thông báo đến bạn, việc đặt lại mật khẩu của bạn đã thành công.</p>
    <p>Chúc bạn có những trải nghiệm mua sắm tuyệt vời trên trang web của chúng tôi</p>

    <br><b>Trân trọng<br>Watches Store Website,<br>Khoa Công Nghệ Thông Tin,<br>Trường Đại Học Sư Phạm Kỹ Thuật Thành Phố Hồ Chí Minh</b>
</div>
<div style="text-align: center; margin-top: 20px; color: #888; font-size: 0.8em;">
    <p>Đây là email tự động, vui lòng không trả lời thư này. Xin cảm ơn !</p>
</div>
</body>
</html>